*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}

/* .content{
    width:100%;
    margin:0 auto;
} */

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height:500px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.navbar{
    height: 120px;
    color:white;
    line-height: 34px;
}

ul{
    list-style: none;
}

.fl{
    float: left;
}

nav.navbar .menu li{
    display: inline-block;
    margin-left: 20px;
}

nav.navbar .menu{
    width:60%;
    height:100%;
    text-align:center;
}

nav.navbar .logo{
    width: 20%;
    height: 100%;
}

nav.navbar .login{
    width: calc(20% - 80px);
    height: 100%;
    margin-left: 80px;
}

#border-radius{
    width: 70px;
    height: 30px;
    background: white;
    border-radius:20px;
}

.container-small{
    width: 1000px;
    height:380px;
 } 

.text{
    color:white;
    margin-top: 40px;
    line-height: 1.5;
    padding: 30px;
}

.discord-buttons{
    margin-top: 15px;
}

[class^="button-"]{
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background: white;
    color: black;
    border-radius: 20px;
}

.button-1::before{
    content: "\2193";
    margin-right: 5px;
}

.button-2{
    width: 230px;
    background: black;
    color:white;
    margin-left: 20px;
}

.container-1, .container-2, .container-3{
    width: 1000px;
    height: 480px;
    margin: 0 auto;
}

.item1{
    width: 60%;
}

.text1, .text2, .text3{
    width:25%;
    position: relative;
    top:100px;
 }

.container-1 h1{
    font-size: 35px;
    font-weight: bold;
    line-height: 1;
}

p{
    font-size: 15px;
}
/* .container-2{
    background: url(../img/wave.svg) repeat 0 0;

} */

.item2{
     width: 65%;
     position:relative;
     left:80px;
}

.item3{
    width: 60%;
}
/* 
.container-4{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    border: 4px red solid;
} */

/* .item4{
 position:absolute;
 top:50%;
 left:50%;
 transform: translate(-50%, -50% )
} */